body {
  font-family: sans-serif;
  padding: 20px;
  background: #f5f5f5;
}
h1 {
  text-align: center;
}
button {
  width: 100%;
  padding: 14px;
  margin: 6px 0;
  font-size: 16px;
}
textarea {
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
}
#quiz {
  background: white;
  padding: 15px;
  border-radius: 8px;
}
